body{
    display: flex;
    flex-direction: column;
    background-color: gray;
}

p1{
    margin: 0 auto;
    margin-top: 50px;
    color: white;
    font-family: serif;
}

p2{
    margin: 0 auto;
    margin-top: 20px;
    color: white;
    font-family: serif;
}