body{
    display: flex;
    flex-direction: column;
    background-color: gray;
}

p{
    margin: 0 auto;
    margin-top: 50px;
    color: white;
    font-family: serif;

}

form{
    display: flex;
    flex-direction: column;
}

h2{
    margin: 0 auto;
    margin-top: 10px;
    color: white;
    font-family: serif;

}

.radio{
    margin: 0 auto;
    margin-top: 10px;
    color: white;
    font-family: serif;
}

.submit{
    margin: 0 auto;
}