.header{
    background-color: #141f40;
    height: 100px;
    width: 400px;
}
.main0{
    display:flex;
    width: 400px;
}
.main2{
    display: flex;
    flex-direction: row-reverse;
}
.green{
    background-color: #80bfa8;
    height: 250px;
    width: 150px;
}
.orange{
    background-color: #ff9e6b;
    height: 150px;
    width: 100px;
}
.yellow{
    background-color: #dbd400;
    height: 50px;
    width: 150px;
}
.blue{
    background-color: #0093b7;
    height: 100px;
    width: 150px;
}
.red{
    background-color: #8c2727;
    height: 100px;
    width: 250px;
}
.footer{
    background-color: #b98d30;
    height: 100px;
    width: 400px;
}