body{
    margin: 0 auto;
}


.header{
    background-color: #141f40;
    height: 100px;
    width: 400px;
}

.header .white{
    background-color: white;
    height: 60px;
    width: 160px;
    position:relative;
    top: 20px;
    left: 220px;
    display: flex;
}

.header .white .red{
    background-color: #a9004b;
    height: 40px;
    width: 40px;
    margin-top: 10px;
    margin-left: 10px;
}


.main{
    display:flex;
    width: 400px;
}

.main .left{
    background-color: #80bfa8;
    height: 250px;
    width: 150px;
}

.main .right{
    background-color: #8c2727;
    height: 250px;
    width: 250px;
}

.main .right .container{
    height: 170px;
    position: relative;
    top: 40px;
    left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main .right .container .orange{
    background-color: #ff863f;
    height: 40px;
    width: 140px;
    border: solid white 5px;
}


.footer{
    background-color: #b98d30;
    height: 100px;
    width: 400px;
}