@media screen and (max-width:479px){
    .header{
        height: 200px;
        width: 200px;
    }

    .header .white{
        height: 160px;
        width: 60px;
        left: 70px;
        flex-direction: column;
    }


    .main{
        width: 200px;
        flex-direction: column;
    }

    .main .left{
        height: 100px;
        width: 200px;
    }

    .main .right{
        height: 210px;
        width: 200px;
    }

    .main .right .container{
        top: 20px;
        left: 30px;
    }


    .footer{
        width: 200px;
    }
}